{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://appmesh.amazonaws.com/"
        },
        {
            "url": "http://appmesh.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<p>AWS App Mesh is a service mesh based on the Envoy proxy that makes it easy to monitor and\n         control containerized microservices. App Mesh standardizes how your microservices\n         communicate, giving you end-to-end visibility and helping to ensure high-availability for\n         your applications.</p>\n         <p>App Mesh gives you consistent visibility and network traffic controls for every\n         microservice in an application. You can use App Mesh with Amazon ECS\n         (using the Amazon EC2 launch type), Amazon EKS, and Kubernetes on AWS.</p>\n         <note>\n            <p>App Mesh supports containerized microservice applications that use service discovery\n            naming for their components. To use App Mesh, you must have a containerized application\n            running on Amazon EC2 instances, hosted in either Amazon ECS, Amazon EKS, or Kubernetes on AWS. For\n            more information about service discovery on Amazon ECS, see <a href=\"http://docs.aws.amazon.com/AmazonECS/latest/developerguide/service-discovery.html\">Service Discovery</a> in the\n               <i>Amazon Elastic Container Service Developer Guide</i>. Kubernetes <code>kube-dns</code> and\n               <code>coredns</code> are supported. For more information, see <a href=\"https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/\">DNS\n               for Services and Pods</a> in the Kubernetes documentation.</p>\n         </note>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWS App Mesh",
        "version": "2019-01-25",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/appmesh-2019-01-25.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "appmesh"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/appmesh/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/v20190125/meshes": {
            "get": {
                "description": "Returns a list of existing service meshes.",
                "operationId": "ListMeshes",
                "parameters": [
                    {
                        "description": "Pagination limit",
                        "in": "query",
                        "name": "limit",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination token",
                        "in": "query",
                        "name": "nextToken",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "",
                                    "properties": {
                                        "meshes": {
                                            "description": "The list of existing service meshes.",
                                            "items": {
                                                "description": "An object representing a service mesh returned by a list operation.",
                                                "properties": {
                                                    "arn": {
                                                        "description": "The full Amazon Resource Name (ARN) of the service mesh.",
                                                        "type": "string"
                                                    },
                                                    "meshName": {
                                                        "description": "The name of the service mesh.",
                                                        "maxLength": 255,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "arn",
                                                    "meshName"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "nextToken": {
                                            "description": "The <code>nextToken</code> value to include in a future <code>ListMeshes</code>\n         request. When the results of a <code>ListMeshes</code> request exceed\n         <code>limit</code>, you can use this value to retrieve the next page of\n         results. This value is <code>null</code> when there are no more results to\n         return.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "meshes"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ForbiddenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "",
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "put": {
                "description": "<p>Creates a new service mesh. A service mesh is a logical boundary for network traffic\n         between the services that reside within it.</p>\n         <p>After you create your service mesh, you can create virtual services, virtual nodes,\n         virtual routers, and routes to distribute traffic between the applications in your\n         mesh.</p>",
                "operationId": "CreateMesh",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "",
                                    "properties": {
                                        "mesh": {
                                            "description": "The full description of your service mesh following the create call.",
                                            "properties": {
                                                "meshName": {
                                                    "description": "The name of the service mesh.",
                                                    "maxLength": 255,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "metadata": {
                                                    "description": "The associated metadata for the service mesh.",
                                                    "properties": {
                                                        "arn": {
                                                            "description": "<p>The full Amazon Resource Name (ARN) for the resource.</p>\n         <note>\n            <p>After you create a virtual node, set this value (either the full ARN or the\n            truncated resource name, for example, <code>mesh/default/virtualNode/simpleapp</code>,\n            as the <code>APPMESH_VIRTUAL_NODE_NAME</code> environment variable for your task group's\n            Envoy proxy container in your task definition or pod spec. This is then mapped to the\n               <code>node.id</code> and <code>node.cluster</code> Envoy parameters.</p>\n            <p>If you require your Envoy stats or tracing to use a different name, you can override\n            the <code>node.cluster</code> value that is set by\n               <code>APPMESH_VIRTUAL_NODE_NAME</code> with the\n               <code>APPMESH_VIRTUAL_NODE_CLUSTER</code> environment variable.</p>\n         </note>",
                                                            "type": "string"
                                                        },
                                                        "createdAt": {
                                                            "description": "The Unix epoch timestamp in seconds for when the resource was created.",
                                                            "format": "date-time",
                                                            "type": "string"
                                                        },
                                                        "lastUpdatedAt": {
                                                            "description": "The Unix epoch timestamp in seconds for when the resource was last updated.",
                                                            "format": "date-time",
                                                            "type": "string"
                                                        },
                                                        "uid": {
                                                            "description": "The unique identifier for the resource.",
                                                            "type": "string"
                                                        },
                                                        "version": {
                                                            "description": "The version of the resource. Resources are created at version 1, and this version is\n         incremented each time that they're updated.",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "required": [
                                                        "arn",
                                                        "createdAt",
                                                        "lastUpdatedAt",
                                                        "uid",
                                                        "version"
                                                    ],
                                                    "type": "object"
                                                },
                                                "status": {
                                                    "description": "The status of the service mesh.",
                                                    "properties": {
                                                        "status": {
                                                            "description": "The current mesh status.",
                                                            "enum": [
                                                                "ACTIVE",
                                                                "DELETED",
                                                                "INACTIVE"
                                                            ],
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "required": [
                                                "meshName",
                                                "metadata",
                                                "status"
                                            ],
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "mesh"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ConflictException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ForbiddenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "487": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "",
                                "properties": {
                                    "clientToken": {
                                        "description": "Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.",
                                        "type": "string"
                                    },
                                    "meshName": {
                                        "description": "The name to use for the service mesh.",
                                        "maxLength": 255,
                                        "minLength": 1,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "meshName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/v20190125/meshes/{meshName}": {
            "delete": {
                "description": "<p>Deletes an existing service mesh.</p>\n         <p>You must delete all resources (virtual services, routes, virtual routers, virtual nodes)\n         in the service mesh before you can delete the mesh itself.</p>",
                "operationId": "DeleteMesh",
                "parameters": [
                    {
                        "in": "path",
                        "name": "meshName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "",
                                    "properties": {
                                        "mesh": {
                                            "description": "The service mesh that was deleted.",
                                            "properties": {
                                                "meshName": {
                                                    "description": "The name of the service mesh.",
                                                    "maxLength": 255,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "metadata": {
                                                    "description": "The associated metadata for the service mesh.",
                                                    "properties": {
                                                        "arn": {
                                                            "description": "<p>The full Amazon Resource Name (ARN) for the resource.</p>\n         <note>\n            <p>After you create a virtual node, set this value (either the full ARN or the\n            truncated resource name, for example, <code>mesh/default/virtualNode/simpleapp</code>,\n            as the <code>APPMESH_VIRTUAL_NODE_NAME</code> environment variable for your task group's\n            Envoy proxy container in your task definition or pod spec. This is then mapped to the\n               <code>node.id</code> and <code>node.cluster</code> Envoy parameters.</p>\n            <p>If you require your Envoy stats or tracing to use a different name, you can override\n            the <code>node.cluster</code> value that is set by\n               <code>APPMESH_VIRTUAL_NODE_NAME</code> with the\n               <code>APPMESH_VIRTUAL_NODE_CLUSTER</code> environment variable.</p>\n         </note>",
                                                            "type": "string"
                                                        },
                                                        "createdAt": {
                                                            "description": "The Unix epoch timestamp in seconds for when the resource was created.",
                                                            "format": "date-time",
                                                            "type": "string"
                                                        },
                                                        "lastUpdatedAt": {
                                                            "description": "The Unix epoch timestamp in seconds for when the resource was last updated.",
                                                            "format": "date-time",
                                                            "type": "string"
                                                        },
                                                        "uid": {
                                                            "description": "The unique identifier for the resource.",
                                                            "type": "string"
                                                        },
                                                        "version": {
                                                            "description": "The version of the resource. Resources are created at version 1, and this version is\n         incremented each time that they're updated.",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "required": [
                                                        "arn",
                                                        "createdAt",
                                                        "lastUpdatedAt",
                                                        "uid",
                                                        "version"
                                                    ],
                                                    "type": "object"
                                                },
                                                "status": {
                                                    "description": "The status of the service mesh.",
                                                    "properties": {
                                                        "status": {
                                                            "description": "The current mesh status.",
                                                            "enum": [
                                                                "ACTIVE",
                                                                "DELETED",
                                                                "INACTIVE"
                                                            ],
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "required": [
                                                "meshName",
                                                "metadata",
                                                "status"
                                            ],
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "mesh"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ForbiddenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ResourceInUseException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "",
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "get": {
                "description": "Describes an existing service mesh.",
                "operationId": "DescribeMesh",
                "parameters": [
                    {
                        "in": "path",
                        "name": "meshName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "",
                                    "properties": {
                                        "mesh": {
                                            "description": "The full description of your service mesh.",
                                            "properties": {
                                                "meshName": {
                                                    "description": "The name of the service mesh.",
                                                    "maxLength": 255,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "metadata": {
                                                    "description": "The associated metadata for the service mesh.",
                                                    "properties": {
                                                        "arn": {
                                                            "description": "<p>The full Amazon Resource Name (ARN) for the resource.</p>\n         <note>\n            <p>After you create a virtual node, set this value (either the full ARN or the\n            truncated resource name, for example, <code>mesh/default/virtualNode/simpleapp</code>,\n            as the <code>APPMESH_VIRTUAL_NODE_NAME</code> environment variable for your task group's\n            Envoy proxy container in your task definition or pod spec. This is then mapped to the\n               <code>node.id</code> and <code>node.cluster</code> Envoy parameters.</p>\n            <p>If you require your Envoy stats or tracing to use a different name, you can override\n            the <code>node.cluster</code> value that is set by\n               <code>APPMESH_VIRTUAL_NODE_NAME</code> with the\n               <code>APPMESH_VIRTUAL_NODE_CLUSTER</code> environment variable.</p>\n         </note>",
                                                            "type": "string"
                                                        },
                                                        "createdAt": {
                                                            "description": "The Unix epoch timestamp in seconds for when the resource was created.",
                                                            "format": "date-time",
                                                            "type": "string"
                                                        },
                                                        "lastUpdatedAt": {
                                                            "description": "The Unix epoch timestamp in seconds for when the resource was last updated.",
                                                            "format": "date-time",
                                                            "type": "string"
                                                        },
                                                        "uid": {
                                                            "description": "The unique identifier for the resource.",
                                                            "type": "string"
                                                        },
                                                        "version": {
                                                            "description": "The version of the resource. Resources are created at version 1, and this version is\n         incremented each time that they're updated.",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "required": [
                                                        "arn",
                                                        "createdAt",
                                                        "lastUpdatedAt",
                                                        "uid",
                                                        "version"
                                                    ],
                                                    "type": "object"
                                                },
                                                "status": {
                                                    "description": "The status of the service mesh.",
                                                    "properties": {
                                                        "status": {
                                                            "description": "The current mesh status.",
                                                            "enum": [
                                                                "ACTIVE",
                                                                "DELETED",
                                                                "INACTIVE"
                                                            ],
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "required": [
                                                "meshName",
                                                "metadata",
                                                "status"
                                            ],
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "mesh"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ForbiddenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "",
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/v20190125/meshes/{meshName}/virtualNodes": {
            "get": {
                "description": "Returns a list of existing virtual nodes.",
                "operationId": "ListVirtualNodes",
                "parameters": [
                    {
                        "description": "Pagination limit",
                        "in": "query",
                        "name": "limit",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination token",
                        "in": "query",
                        "name": "nextToken",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "meshName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "",
                                    "properties": {
                                        "nextToken": {
                                            "description": "The <code>nextToken</code> value to include in a future <code>ListVirtualNodes</code>\n         request. When the results of a <code>ListVirtualNodes</code> request exceed\n         <code>limit</code>, you can use this value to retrieve the next page of\n         results. This value is <code>null</code> when there are no more results to\n         return.",
                                            "type": "string"
                                        },
                                        "virtualNodes": {
                                            "description": "The list of existing virtual nodes for the specified service mesh.",
                                            "items": {
                                                "description": "An object representing a virtual node returned by a list operation.",
                                                "properties": {
                                                    "arn": {
                                                        "description": "The full Amazon Resource Name (ARN) for the virtual node.",
                                                        "type": "string"
                                                    },
                                                    "meshName": {
                                                        "description": "The name of the service mesh that the virtual node resides in.",
                                                        "maxLength": 255,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "virtualNodeName": {
                                                        "description": "The name of the virtual node.",
                                                        "maxLength": 255,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "arn",
                                                    "meshName",
                                                    "virtualNodeName"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "virtualNodes"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ForbiddenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "",
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "put": {
                "description": "<p>Creates a new virtual node within a service mesh.</p>\n         <p>A virtual node acts as logical pointer to a particular task group, such as an Amazon ECS\n         service or a Kubernetes deployment. When you create a virtual node, you must specify the\n         DNS service discovery hostname for your task group.</p>\n         <p>Any inbound traffic that your virtual node expects should be specified as a\n            <code>listener</code>. Any outbound traffic that your virtual node expects to reach\n         should be specified as a <code>backend</code>.</p>\n         <p>The response metadata for your new virtual node contains the <code>arn</code> that is\n         associated with the virtual node. Set this value (either the full ARN or the truncated\n         resource name, for example, <code>mesh/default/virtualNode/simpleapp</code>, as the\n            <code>APPMESH_VIRTUAL_NODE_NAME</code> environment variable for your task group's Envoy\n         proxy container in your task definition or pod spec. This is then mapped to the\n            <code>node.id</code> and <code>node.cluster</code> Envoy parameters.</p>\n         <note>\n            <p>If you require your Envoy stats or tracing to use a different name, you can override\n            the <code>node.cluster</code> value that is set by\n               <code>APPMESH_VIRTUAL_NODE_NAME</code> with the\n               <code>APPMESH_VIRTUAL_NODE_CLUSTER</code> environment variable.</p>\n         </note>",
                "operationId": "CreateVirtualNode",
                "parameters": [
                    {
                        "in": "path",
                        "name": "meshName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "",
                                    "properties": {
                                        "virtualNode": {
                                            "description": "The full description of your virtual node following the create call.",
                                            "properties": {
                                                "meshName": {
                                                    "description": "The name of the service mesh that the virtual node resides in.",
                                                    "maxLength": 255,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "metadata": {
                                                    "description": "The associated metadata for the virtual node.",
                                                    "properties": {
                                                        "arn": {
                                                            "description": "<p>The full Amazon Resource Name (ARN) for the resource.</p>\n         <note>\n            <p>After you create a virtual node, set this value (either the full ARN or the\n            truncated resource name, for example, <code>mesh/default/virtualNode/simpleapp</code>,\n            as the <code>APPMESH_VIRTUAL_NODE_NAME</code> environment variable for your task group's\n            Envoy proxy container in your task definition or pod spec. This is then mapped to the\n               <code>node.id</code> and <code>node.cluster</code> Envoy parameters.</p>\n            <p>If you require your Envoy stats or tracing to use a different name, you can override\n            the <code>node.cluster</code> value that is set by\n               <code>APPMESH_VIRTUAL_NODE_NAME</code> with the\n               <code>APPMESH_VIRTUAL_NODE_CLUSTER</code> environment variable.</p>\n         </note>",
                                                            "type": "string"
                                                        },
                                                        "createdAt": {
                                                            "description": "The Unix epoch timestamp in seconds for when the resource was created.",
                                                            "format": "date-time",
                                                            "type": "string"
                                                        },
                                                        "lastUpdatedAt": {
                                                            "description": "The Unix epoch timestamp in seconds for when the resource was last updated.",
                                                            "format": "date-time",
                                                            "type": "string"
                                                        },
                                                        "uid": {
                                                            "description": "The unique identifier for the resource.",
                                                            "type": "string"
                                                        },
                                                        "version": {
                                                            "description": "The version of the resource. Resources are created at version 1, and this version is\n         incremented each time that they're updated.",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "required": [
                                                        "arn",
                                                        "createdAt",
                                                        "lastUpdatedAt",
                                                        "uid",
                                                        "version"
                                                    ],
                                                    "type": "object"
                                                },
                                                "spec": {
                                                    "description": "The specifications of the virtual node.",
                                                    "properties": {
                                                        "backends": {
                                                            "description": "The backends that the virtual node is expected to send outbound traffic to.",
                                                            "items": {
                                                                "description": "An object representing the backends that a virtual node is expected to send outbound\n         traffic to. ",
                                                                "properties": {
                                                                    "virtualService": {
                                                                        "description": "Specifies a virtual service to use as a backend for a virtual node. ",
                                                                        "properties": {
                                                                            "virtualServiceName": {
                                                                                "description": "The name of the virtual service that is acting as a virtual node backend.",
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "virtualServiceName"
                                                                        ],
                                                                        "type": "object"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "listeners": {
                                                            "description": "The listeners that the virtual node is expected to receive inbound traffic from. Currently only one listener is supported per virtual node.",
                                                            "items": {
                                                                "description": "An object representing a listener for a virtual node.",
                                                                "properties": {
                                                                    "healthCheck": {
                                                                        "description": "The health check information for the listener.",
                                                                        "properties": {
                                                                            "healthyThreshold": {
                                                                                "description": "The number of consecutive successful health checks that must occur before declaring\n         listener healthy.",
                                                                                "maximum": 10,
                                                                                "minimum": 2,
                                                                                "type": "integer"
                                                                            },
                                                                            "intervalMillis": {
                                                                                "description": "The time period in milliseconds between each health check execution.",
                                                                                "maximum": 300000,
                                                                                "minimum": 5000,
                                                                                "type": "integer"
                                                                            },
                                                                            "path": {
                                                                                "description": "The destination path for the health check request. This is required only if the\n         specified protocol is HTTP. If the protocol is TCP, this parameter is ignored.",
                                                                                "type": "string"
                                                                            },
                                                                            "port": {
                                                                                "description": "The destination port for the health check request. This port must match the port defined\n         in the <a>PortMapping</a> for the listener.",
                                                                                "maximum": 65535,
                                                                                "minimum": 1,
                                                                                "type": "integer"
                                                                            },
                                                                            "protocol": {
                                                                                "description": "The protocol for the health check request.",
                                                                                "enum": [
                                                                                    "http",
                                                                                    "tcp"
                                                                                ],
                                                                                "type": "string"
                                                                            },
                                                                            "timeoutMillis": {
                                                                                "description": "The amount of time to wait when receiving a response from the health check, in\n         milliseconds.",
                                                                                "maximum": 60000,
                                                                                "minimum": 2000,
                                                                                "type": "integer"
                                                                            },
                                                                            "unhealthyThreshold": {
                                                                                "description": "The number of consecutive failed health checks that must occur before declaring a\n         virtual node unhealthy. ",
                                                                                "maximum": 10,
                                                                                "minimum": 2,
                                                                                "type": "integer"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "healthyThreshold",
                                                                            "intervalMillis",
                                                                            "protocol",
                                                                            "timeoutMillis",
                                                                            "unhealthyThreshold"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "portMapping": {
                                                                        "description": "The port mapping information for the listener.",
                                                                        "properties": {
                                                                            "port": {
                                                                                "description": "The port used for the port mapping.",
                                                                                "maximum": 65535,
                                                                                "minimum": 1,
                                                                                "type": "integer"
                                                                            },
                                                                            "protocol": {
                                                                                "description": "The protocol used for the port mapping.",
                                                                                "enum": [
                                                                                    "http",
                                                                                    "tcp"
                                                                                ],
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "port",
                                                                            "protocol"
                                                                        ],
                                                                        "type": "object"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "portMapping"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "serviceDiscovery": {
                                                            "description": "The service discovery information for the virtual node.",
                                                            "properties": {
                                                                "dns": {
                                                                    "description": "Specifies the DNS information for the virtual node.",
                                                                    "properties": {
                                                                        "hostname": {
                                                                            "description": "Specifies the DNS service discovery hostname for the virtual node. ",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "hostname"
                                                                    ],
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "status": {
                                                    "description": "The current status for the virtual node.",
                                                    "properties": {
                                                        "status": {
                                                            "description": "The current status of the virtual node.",
                                                            "enum": [
                                                                "ACTIVE",
                                                                "DELETED",
                                                                "INACTIVE"
                                                            ],
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "status"
                                                    ],
                                                    "type": "object"
                                                },
                                                "virtualNodeName": {
                                                    "description": "The name of the virtual node.",
                                                    "maxLength": 255,
                                                    "minLength": 1,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "meshName",
                                                "metadata",
                                                "spec",
                                                "status",
                                                "virtualNodeName"
                                            ],
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "virtualNode"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ConflictException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ForbiddenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "487": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "",
                                "properties": {
                                    "clientToken": {
                                        "description": "Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.",
                                        "type": "string"
                                    },
                                    "spec": {
                                        "description": "The virtual node specification to apply.",
                                        "properties": {
                                            "backends": {
                                                "description": "The backends that the virtual node is expected to send outbound traffic to.",
                                                "items": {
                                                    "description": "An object representing the backends that a virtual node is expected to send outbound\n         traffic to. ",
                                                    "properties": {
                                                        "virtualService": {
                                                            "description": "Specifies a virtual service to use as a backend for a virtual node. ",
                                                            "properties": {
                                                                "virtualServiceName": {
                                                                    "description": "The name of the virtual service that is acting as a virtual node backend.",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "virtualServiceName"
                                                            ],
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "listeners": {
                                                "description": "The listeners that the virtual node is expected to receive inbound traffic from. Currently only one listener is supported per virtual node.",
                                                "items": {
                                                    "description": "An object representing a listener for a virtual node.",
                                                    "properties": {
                                                        "healthCheck": {
                                                            "description": "The health check information for the listener.",
                                                            "properties": {
                                                                "healthyThreshold": {
                                                                    "description": "The number of consecutive successful health checks that must occur before declaring\n         listener healthy.",
                                                                    "maximum": 10,
                                                                    "minimum": 2,
                                                                    "type": "integer"
                                                                },
                                                                "intervalMillis": {
                                                                    "description": "The time period in milliseconds between each health check execution.",
                                                                    "maximum": 300000,
                                                                    "minimum": 5000,
                                                                    "type": "integer"
                                                                },
                                                                "path": {
                                                                    "description": "The destination path for the health check request. This is required only if the\n         specified protocol is HTTP. If the protocol is TCP, this parameter is ignored.",
                                                                    "type": "string"
                                                                },
                                                                "port": {
                                                                    "description": "The destination port for the health check request. This port must match the port defined\n         in the <a>PortMapping</a> for the listener.",
                                                                    "maximum": 65535,
                                                                    "minimum": 1,
                                                                    "type": "integer"
                                                                },
                                                                "protocol": {
                                                                    "description": "The protocol for the health check request.",
                                                                    "enum": [
                                                                        "http",
                                                                        "tcp"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "timeoutMillis": {
                                                                    "description": "The amount of time to wait when receiving a response from the health check, in\n         milliseconds.",
                                                                    "maximum": 60000,
                                                                    "minimum": 2000,
                                                                    "type": "integer"
                                                                },
                                                                "unhealthyThreshold": {
                                                                    "description": "The number of consecutive failed health checks that must occur before declaring a\n         virtual node unhealthy. ",
                                                                    "maximum": 10,
                                                                    "minimum": 2,
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "required": [
                                                                "healthyThreshold",
                                                                "intervalMillis",
                                                                "protocol",
                                                                "timeoutMillis",
                                                                "unhealthyThreshold"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "portMapping": {
                                                            "description": "The port mapping information for the listener.",
                                                            "properties": {
                                                                "port": {
                                                                    "description": "The port used for the port mapping.",
                                                                    "maximum": 65535,
                                                                    "minimum": 1,
                                                                    "type": "integer"
                                                                },
                                                                "protocol": {
                                                                    "description": "The protocol used for the port mapping.",
                                                                    "enum": [
                                                                        "http",
                                                                        "tcp"
                                                                    ],
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "port",
                                                                "protocol"
                                                            ],
                                                            "type": "object"
                                                        }
                                                    },
                                                    "required": [
                                                        "portMapping"
                                                    ],
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "serviceDiscovery": {
                                                "description": "The service discovery information for the virtual node.",
                                                "properties": {
                                                    "dns": {
                                                        "description": "Specifies the DNS information for the virtual node.",
                                                        "properties": {
                                                            "hostname": {
                                                                "description": "Specifies the DNS service discovery hostname for the virtual node. ",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "hostname"
                                                        ],
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "virtualNodeName": {
                                        "description": "The name to use for the virtual node.",
                                        "maxLength": 255,
                                        "minLength": 1,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "spec",
                                    "virtualNodeName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/v20190125/meshes/{meshName}/virtualNodes/{virtualNodeName}": {
            "delete": {
                "description": "<p>Deletes an existing virtual node.</p>\n         <p>You must delete any virtual services that list a virtual node as a service provider\n         before you can delete the virtual node itself.</p>",
                "operationId": "DeleteVirtualNode",
                "parameters": [
                    {
                        "in": "path",
                        "name": "meshName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "virtualNodeName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "",
                                    "properties": {
                                        "virtualNode": {
                                            "description": "The virtual node that was deleted.",
                                            "properties": {
                                                "meshName": {
                                                    "description": "The name of the service mesh that the virtual node resides in.",
                                                    "maxLength": 255,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "metadata": {
                                                    "description": "The associated metadata for the virtual node.",
                                                    "properties": {
                                                        "arn": {
                                                            "description": "<p>The full Amazon Resource Name (ARN) for the resource.</p>\n         <note>\n            <p>After you create a virtual node, set this value (either the full ARN or the\n            truncated resource name, for example, <code>mesh/default/virtualNode/simpleapp</code>,\n            as the <code>APPMESH_VIRTUAL_NODE_NAME</code> environment variable for your task group's\n            Envoy proxy container in your task definition or pod spec. This is then mapped to the\n               <code>node.id</code> and <code>node.cluster</code> Envoy parameters.</p>\n            <p>If you require your Envoy stats or tracing to use a different name, you can override\n            the <code>node.cluster</code> value that is set by\n               <code>APPMESH_VIRTUAL_NODE_NAME</code> with the\n               <code>APPMESH_VIRTUAL_NODE_CLUSTER</code> environment variable.</p>\n         </note>",
                                                            "type": "string"
                                                        },
                                                        "createdAt": {
                                                            "description": "The Unix epoch timestamp in seconds for when the resource was created.",
                                                            "format": "date-time",
                                                            "type": "string"
                                                        },
                                                        "lastUpdatedAt": {
                                                            "description": "The Unix epoch timestamp in seconds for when the resource was last updated.",
                                                            "format": "date-time",
                                                            "type": "string"
                                                        },
                                                        "uid": {
                                                            "description": "The unique identifier for the resource.",
                                                            "type": "string"
                                                        },
                                                        "version": {
                                                            "description": "The version of the resource. Resources are created at version 1, and this version is\n         incremented each time that they're updated.",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "required": [
                                                        "arn",
                                                        "createdAt",
                                                        "lastUpdatedAt",
                                                        "uid",
                                                        "version"
                                                    ],
                                                    "type": "object"
                                                },
                                                "spec": {
                                                    "description": "The specifications of the virtual node.",
                                                    "properties": {
                                                        "backends": {
                                                            "description": "The backends that the virtual node is expected to send outbound traffic to.",
                                                            "items": {
                                                                "description": "An object representing the backends that a virtual node is expected to send outbound\n         traffic to. ",
                                                                "properties": {
                                                                    "virtualService": {
                                                                        "description": "Specifies a virtual service to use as a backend for a virtual node. ",
                                                                        "properties": {
                                                                            "virtualServiceName": {
                                                                                "description": "The name of the virtual service that is acting as a virtual node backend.",
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "virtualServiceName"
                                                                        ],
                                                                        "type": "object"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "listeners": {
[...]
